html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

@font-face {
    font-family: "Qualy";
    src: url("../fonts/qualy_bold.ttf") format("truetype");
}

#headerbg{
    width: 100%;
    height: 100vmin;
    position: relative;
    z-index: 1000;
    margin-top: 0;
}

nav{
    transition: background-color ease-in 0.3s;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
    box-sizing: border-box;
}

nav ul{
    transition:height ease-in 0.3s;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
    font-family: "Roboto";
    text-transform: uppercase;
    list-style: none;
}

nav a{
    transition: color ease-in 0.3s;
    text-decoration: none;
    color: white;
    text-shadow: 0px 3px 6px black;
    font-size: 18px;
}

nav p{
    font-weight: 450;
}

nav img{
    width: 180px;
}

#logomenu{
    transition: width ease-in 0.3s;
}


.sliderdiv{
    overflow: hidden;
    width: 100% ;
    height: 100%;
}

.everybgdiv{
    display: flex;
    width: 300vw;
    height: 100%;
    justify-content: flex-start;
    animation: infinite 10s sliderhome;
}

.sliderslide{
    position: relative;
}

#synergieslide{
    width: 100vw;
    background-image: url("../img/banheader.jpg");
    background-size: cover;
    height: 100%;
    float: left;
    display: inline-block;
}

#interactionslide{
    width: 100vw;
    background-image: url("../img/banheader2.jpg");
    background-size: cover;
    height: 100%;
    float: left;
    display: inline-block;
}

.centerslider{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.sliderdiv h1 {
    text-shadow: 6px -8px 0 #FFD433;
    color: white;
    font-family: Qualy;
    font-size: 86px;
    text-align: center;
    letter-spacing: 15px;
    margin-bottom: 10px;
    animation: textslideanimated1 infinite 10s;
}

.sliderdiv p{
    text-align: center;
    font-size: 22px;
    font-family: Roboto;
    font-style: italic;
    color: white;
    text-shadow: 0px 2px 2px black;
}

.scrollicon{
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: -25px;
    animation: animatedscroll infinite 3s ;
}

.scrollicon img{
    width: 35px;
}

#scrollb{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 800;
}

#scrollj{
    position: absolute;
    top: -8px;
    left: 5px;
    z-index: 600;
}

h2{
    text-orientation: upright;
    writing-mode: vertical-rl;
    position: absolute;
    left: -8%;
    top: 0;
    font-size: 22px;
    color: #FFD433 ;
    font-family: Qualy;
    letter-spacing: 2px;
}



.premierepresentation{
    background-image: url("../img/grille.png");
    background-size: 108%;
    background-position: 45%;
    padding-top: 80px;
    padding-bottom: 80px;
}

.sectionlimit{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.doubleflex{
    display: flex;
    width: 100%;
    font-size: 16px;
    line-height: 28px;
    color: white;
    font-family: Roboto;
    justify-content: space-between;
    align-items: center;
}

.textpresentation{
    width: 60%;
}

.doubleflex img{
    width: 30%;
}

.pflex{
    margin-top: 50px;
    font-size: 16px;
    line-height: 28px;
    color: white;
    font-family: Roboto;
}

.bgcitation{
    width: 100%;
    height: 400px;
    background-image: url("../img/bancitation.jpg");
    background-size: 100%;
    background-position: 50% 100%;
    font-family: Qualy;
    font-size:3.4vw;
    color: white;
    position: relative;
}

#citation1{
    position: absolute;
    top: 32%;
    left: 10%;
}

#citation2{
    position: absolute;
    bottom: 32%;
    right: 10%;
}

#nommage{
    position: absolute;
    bottom: 15%;
    right: 10%;
    font-size:2vw;
}

.deuxiemepresentation{
    background-image: url("../img/grille.png");
    background-size: 108%;
    background-position: 45%;
    padding-top: 80px;
    padding-bottom: 80px;
}

.text{
    width: 65%;
}

.presentation-video{
    background-image: url("../img/videoban.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: 700px;
}

#solutions{
    background-image: url("../img/grille.png");
    background-size: 108%;
    background-position: 45%;
    height: 100vh;
    min-height: 700px;
}

#solutions .sectionlimit{
    padding-top: 80px;
    padding-bottom: 80px;
}

#solutions h2{
    top: 80px;
}

.flex-solution{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexcolumncat{
    display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: center;
    width: 220px;
}

.flexcolumncat div{
    width: 200px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-family: Qualy;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow: 6px 6px 0 #FFD433;
    transition: margin-left 250ms ease-in, box-shadow 250ms ease-in;
}

.rectbleu{
    width: 40px;
    height: 70px;
    background-color: #94C8EE;
    border: solid #303030 8px;
    position: absolute;
    top: -35px;
    left: -20px;
}


.safecard{
    width: 45%;
    height: 78vh;
}

.cardsol{
    width: 45%;
    height: 78vh;
    min-height: 550px;
    min-width: 500px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cardsol article{
    height: 70vh;
    min-height: 500px;
    width: 85%;
    position: relative;
}

.cardsol h3{
    text-align: center;
    margin-top: 10px;
    font-family: Qualy;
    font-size: 36px;
    margin-bottom: 30px;
}

.cardsol p {
    font-size: 14px;
    line-height: 24px;
    font-family: Roboto;
}

.cardsol ul {
    list-style: none;
    position: absolute;
    bottom: 0;
    left: 0;
}

.cardsol li {
    margin-top: 10px;
}

.cardsol ul p{
    display: inline-block;
    font-size: 18px;
    font-family: Roboto;
}

.cardsol strong{
    font-size: 20px;
    font-family: Qualy;
    font-weight: bold;
}

.cardsol .result{
    position: absolute;
    bottom: 4vh;
    right: 0;
    background-color: #94C8EE;
    padding: 15px 30px 15px 15px;
}


.cardsol .result p{
    font-size: 20px;
    font-family: Qualy;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.ban-etoile{
    width: 100%;
    background-color: black;
    border-top: solid white 2px;
    border-bottom: solid white 2px;
    height: 400px;
    overflow: hidden;
     display: flex;
    align-items: center;
    justify-content: space-around;
}

.ban-etoile div{
    display: flex;
    align-items: flex-end;
    justify-items: right;
    flex-direction: column;
    margin-right: 10%;
}

#canvas{
    margin-left: 10%;
}

.ban-etoile strong {
    color: white;
    font-family: Qualy;
    font-size: 28px;
    letter-spacing: 2px;
    text-align: right;
}

.titreinteraxys{
    font-size: 64px !important;
    letter-spacing: 5px !important;
}

#savoir-faire{
    background-image: url("../img/grille.png");
    background-size: 108%;
    background-position: 45%;
    height: 90vh;
    min-height: 620px;
}


#savoir-faire h2{
    top: 80px;
}

#savoir-faire .sectionlimit{
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: 460px;
}

#clients h2{
    display: none;
}

.flexclient{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.flexclient img{
    width: 200px;
}

#contact{
    background-image: url("../img/grille.png");
    background-size: 108%;
    background-position: 45%;
    height: 100vh;
    min-height: 750px;
}

#contact h2{
    top: 80px;
}

.formulaire form{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.formulaire{
    padding-top: 100px;
    padding-bottom: 80px;
}

.firstflexform{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: flex-start;
    align-items: flex-start;
}

.secondflexform{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: flex-start;
    align-items: flex-start;
}

.flexline{
    display: flex;
    justify-content: space-between;
}

.formulaire textarea{
    display: block;
    width: 98%;
    padding: 10px;
    font-family: Roboto;
    font-size: 20px;
    border: none;
}

.formulaire input{
    width: 300px;
    padding: 10px;
    font-family: Roboto;
    font-size: 20px;
    border: none;
}

.formulaire #email{
    width: 400px;
}

.formulaire select{
    width: 320px;
    padding: 10px;
    font-family: Roboto;
    font-size: 20px;
}

.geometrieconteneur{
    position: relative;
}

.geometrietop{
    width:99%;
    height:20px;
    background:transparent;
    border: white solid 1px;
    -webkit-transform:skew(-30deg);
    -moz-transform:skew(-30deg);
    -o-transform:skew(-30deg);
    tranform:skew(-30deg);
    position: absolute;
    top: -22px;
    left: 7px;
}

.geometrieright{
    width:25px;
    height:20px;
    background:transparent;
    border: white solid 1px;
    -webkit-transform:rotate(-60deg) skew(-60deg);
    -moz-transform:skew(-60deg) rotate(-40deg);
    -o-transform:skew(-60deg) rotate(-30deg);
    tranform:skew(-60deg)  rotate(-30deg);
    position: absolute;
    top: -0.5px;
    right: -20px;
}

.geometrietop2{
    width:99.5%;
    height:20px;
    background:transparent;
    border: white solid 1px;
    -webkit-transform:skew(-30deg);
    -moz-transform:skew(-30deg);
    -o-transform:skew(-30deg);
    tranform:skew(-30deg);
    position: absolute;
    top: -22px;
    left: 7px;
}

.geometrietop3{
    width:99.5%;
    height:20px;
    background:transparent;
    border: white solid 1px;
    -webkit-transform:skew(-30deg);
    -moz-transform:skew(-30deg);
    -o-transform:skew(-30deg);
    tranform:skew(-30deg);
    position: absolute;
    top: -22px;
    left: 7px;
}

.geometrieright2{
    width:29px;
    height:125px;
    background:transparent;
    border: white solid 1px;
    -webkit-transform:rotate(-60deg) skew(-60deg);
    -moz-transform:skew(-60deg) rotate(-40deg);
    -o-transform:skew(-60deg) rotate(-30deg);
    tranform:skew(-60deg)  rotate(-30deg);
    position: absolute;
    top: 54px;
    right: -18px;
}

.btn-right{
    display: flex;
    justify-content: flex-end;
}

#footer{
    background-image: url("../img/banfooter.jpg");
    background-size: 180%;
    height: 350px;
    background-position: 80% 50%;
}

#footer .sectionlimit{
    padding-top: 50px;
    padding-bottom: 50px;
}

.fullfooter{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.leftfooter{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px ;
}

.leftfooter img{
    width: 30px;
}

.leftfooter div{
    display: flex;
    align-items: center;
    gap: 20px;
}

.leftfooter{
    color: white;
    text-shadow: 1px 1px 4px black;
    font-size: 18px;
    font-family: Roboto;
}

.midfooter{
    display: flex;
    gap: 20px;
}

.midfooter img{
    width: 60px ;
}

.rightfooter img{
    width: 200px;
}

.rightfooter{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 100px;
}

.rightfooter div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.rightfooter a{
    color: white;
    text-shadow: 1px 1px 6px black;
    text-decoration: none;
    font-family: Roboto;
    font-size: 16px;
}

/* POUR LE RESPONSIVE */

@media screen and (max-height: 700px){

    #headerbg{
        height: 700px;
    }

}

@media screen and (max-width: 1080px) {
    nav{
        width: 100%;
        left: 0;
    }

    nav ul{
        justify-content: space-around;
    }
}

.glide__slides {
    overflow: visible;
    transform-style: preserve-3d;
}

.glide__slide {
    transform: perspective(2000px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glide__container {
    border: 2px solid #000;
    border-radius: 4px;
    width: 350px;
    transition: all 500ms ease;
    will-change: transform;
    transform-style: preserve-3d;
    position: relative;
    background-color: white;
}

.glide__track{
    height: 460px;
}

.glide__track ul {
    height: 460px;
}

#savoir-faire .logoslide{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
}

.glidecontent{
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}

.flechebot{
    width: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}


/* CSS ANIMATIONS */



@keyframes animatedscroll {
    0% {
        bottom: 30%;
    }
    30% {
        bottom: 25%;
    }
    50%{
        bottom: 27%;
    }
    60%{
        bottom: 25%;
    }
    100% {
        bottom: 30%;
    }
}

@keyframes sliderhome {
    0%{
        margin-left: 0vw;
    }
    45%{
        margin-left: 0vw;
    }
    55%{
        margin-left: -100vw;
    }
    100%{
        margin-left: -100vw;
    }
}

@keyframes rotation {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes textslideanimated1 {
    0%{
        margin-left: 0;
    }
    48%{
        margin-left: 0;
    }
    52%{
        margin-left: 200px;
    }
    57%{
        margin-left: 0px;
    }
    100%{
        margin-left: 0px;
    }
}