html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* FONTS */

@font-face {
    font-family: "Qualy";
    src: url("../fonts/qualy_bold.ttf") format("truetype");
}

.flexmobile{
    display: none;
}

.content-page{
    overflow-x: hidden !important;
    width: 100vw;
    max-width: 100%;
    position: relative;
}
 /* SCROLLBAR */

::-webkit-scrollbar{
    width: 18px;
}
::-webkit-scrollbar-thumb{
    background: #E6E6E6;
}
::-webkit-scrollbar-track {
    background: #1e1e1e;
    border-left: #E6E6E6 solid 1px;
}

/* HEADER */

header{
    z-index: 1200;
    position: relative;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #1e1e1e;
}

.logo-nav{
    align-self: flex-end;
    margin-bottom: 20px;
    transform: scale(1.65) translate(-14%,-25%);
    transition: transform ease-in 0.3s;
}


.logo-nav-mob{
    display: none;
}

.mobilenav{
    display: none;
}

.flex-key p{
    font-family: Roboto;
    font-size: 1.2vw;
    color: #E6E6E6;
    font-style: italic;
    text-align: center;
    flex-grow: 1;
    width: 20%;
}

.flex-key{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-right: 10%;
    margin-left: auto;
    align-items: flex-end;
}

nav{
    width: 100%;
    box-sizing: border-box;
    z-index: 1500;
    background-color: #1e1e1e;
    position: sticky;
    top: -2px;
    left: 0;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Roboto";
    height: 70px;
    text-transform: uppercase;
    list-style: none;
    z-index: 1500;
    box-sizing: border-box;
}

nav li{
    height: 100%;
    width: 20%;
}

nav a{
    transition: color ease-in 0.3s, border-bottom-width ease-in 0.3s;
    text-decoration: none;
    color: #E6E6E6;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

nav p{
    font-weight: 450;
    transition: margin-bottom ease-in 0.3s , font-size ease-in 0.3s, color ease-in 0.3s;
}

nav img{
    height: 50px;
}

.imgcontent{
    transition: flex-grow 500ms ease-in;
}

#logomenu{
    transition: width ease-in 0.3s;
}

/* SLIDER */

#headerbg{
    width: 100%;
    height: 100vmin;
    position: relative;
    z-index: 1000;
    margin-top: -132px;
}

.sliderdiv{
    overflow: hidden;
    width: 100% ;
    height: 100%;
}

#presentation .sectionlimit{
    width: 90%;
}

.everybgdiv{
    display: flex;
    width: 300vw;
    height: 100%;
    justify-content: flex-start;
}

.sliderslide{
    position: relative;
    width: 100vw;
    background-size: cover;
    height: 100%;
}

.centerslider{
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.sliderdiv h2 {
    text-shadow: 4px -4px 0 #94C8EE;
    color: #E6E6E6;
    font-family: Qualy;
    font-size: 100px;
    text-align: center;
    letter-spacing: 15px;
    margin-bottom: 10px;
    text-orientation: initial;
    writing-mode: initial;
    position: initial;
    opacity: 1;
}

.sliderundertitle div {
    text-align: center;
    font-size: 32px;
    font-family: Roboto;
    font-style: italic;
    color: #E6E6E6;
    text-shadow: 0px 2px 2px black;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.scrollicon{
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: -25px;
    animation: animatedscroll infinite 3s ;
    z-index: 1500;
}

.scrollicon img{
    width: 35px;
}

#scrollb{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 800;
}

#scrollj{
    position: absolute;
    top: -8px;
    left: 5px;
    z-index: 600;
}

h2{
    text-orientation: upright;
    writing-mode: vertical-rl;
    position: absolute;
    left: -8%;
    top: 0;
    font-size: 28px;
    color: #FFD433 ;
    font-family: Qualy;
    letter-spacing: 2px;
    opacity: 0%;
}



.premierepresentation{
    background-image: url("../img/grille.png");
    background-size: 108%;
    background-position: 45%;
    padding-top: 80px;
    padding-bottom: 80px;
    background-attachment: fixed;
}

.sectionlimit{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.doubleflex{
    display: flex;
    width: 100%;
    font-size: 18px;
    line-height: 28px;
    color: #E6E6E6;
    font-family: Roboto;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    background-color: #1e1e1e;
    border: 2px #E6E6E6 solid;
    padding: 30px;
    box-sizing: border-box;
}

.textpresentation{
    width: 60%;
}

.doubleflex img{
    width: 35%;
}

.pflex{
    margin-top: 50px;
    font-size: 18px;
    line-height: 28px;
    color: #E6E6E6;
    font-family: Roboto;
    text-align: justify;
}

.bgcitation{
    width: 100%;
    height: 400px;
    background-image: url("../img/bancitation.jpg");
    background-size: 100%;
    background-position: 50% 100%;
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size:3.4vw;
    color: #E6E6E6;
    position: relative;
}

#nommage{
    position: absolute;
    font-family: Qualy;
    text-transform: uppercase;
    bottom: 15%;
    right: 10%;
    font-size:2vw;
    font-style: normal;
}

.bgcitation p{
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 5vw;
    text-align: center;
}

.text{
    width: 65%;
}

.presentation-video{
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: 700px;
    max-height: 1000px;
}

#solutions{
    background-image: url("../img/grille.png");
    background-size: 108%;
    background-position: 45%;
    height: 100vh;
    min-height: 690px;
    max-height: 1000px;
    background-attachment: fixed;
    box-sizing: border-box;
}

#solutions .sectionlimit{
    padding-top: 80px;
    padding-bottom: 80px;
    height: 100%;
    width: 85%;
    box-sizing: border-box;
    min-height: 700px;
}

#solutions h2{
    top: 80px;
    left: -12%;
}

.flex-solution{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 30px;
    height: 100%;
}

.flexcolumncat{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 220px;
    gap: 40px ;
}

.flexcolumncat div{
    width: 200px;
    height: 120px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #1e1e1e;
    font-family: Qualy;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    border: #E6E6E6 2px solid;
    transition: background-color 250ms ease-in;
    color: #E6E6E6;
}

.flexcolumncat #philo{
    background-color: #E6E6E6;
    color: #1e1e1e;
    border: #E6E6E6 2px solid;
}

.safecard{
    width: 100%;
    height: 100%;
}

.cardsol{
    width: 100%;
    height: 100%;
    background-color: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: #E6E6E6 2px solid;
    color: #E6E6E6;
    box-sizing: border-box;
}

.cardsol article{
    height: 70vh;
    min-height: 500px;
    width: 85%;
    text-align: center;
    position: relative;
}

.cardsol h4{
    width: 100%;
    font-size: 32px;
    color: #94C8EE;
    font-family: Qualy;
    text-align: center;
    position: absolute;
    top: 70%;
}

.cardsol ul{
    position: absolute;
    top: 85%;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    list-style: none;
}

.cardsol li{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.cardsol h5{
    color: #FFD433;
    font-family: Qualy;
    font-size: 24px;
}

.cardsol h6{
    color: #E6E6E6;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
}

.cardsol h3{
    text-align: center;
    font-family: Qualy;
    font-size: 38px;
    margin-bottom: 20px;
}

.cardsol div {
    font-size: 18px;
    font-family: Roboto;
    line-height: 30px;
}

.ban-etoile{
    width: 100%;
    background-color: #1e1e1e;
    border-top: solid #E6E6E6 2px;
    border-bottom: solid #E6E6E6 2px;
    height: 400px;
    overflow: hidden;
     display: flex;
    align-items: center;
    justify-content: space-around;
}

.ban-etoile div{
    display: flex;
    align-items: flex-end;
    justify-items: right;
    flex-direction: column;
    margin-right: 10%;
}

#canvas{
    margin-left: 10%;
}

.ban-etoile strong {
    color: #E6E6E6;
    font-family: Roboto;
    font-style: italic;
    font-size: 32px;
    letter-spacing: 2px;
    text-align: right;
    font-weight: 500;
    line-height: 60px;
}

.titreinteraxys{
    font-size: 64px !important;
    letter-spacing: 5px !important;
    font-family: Qualy !important;
    font-style: initial !important;
}

#savoir-faire{
    background-image: url("../img/grille.png");
    background-size: 108%;
    background-position: 45%;
    height: 100vh;
    min-height: 800px;
    background-attachment: fixed;
}

#savoir-faire p{
    font-family: Roboto;
    font-size: 18px;
    text-align: center;
    line-height: 28px;
    box-sizing: border-box;
    min-height: 300px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}


#savoir-faire h2{
    top: 80px;
}

#savoir-faire button{
    color: #1e1e1e;
    text-transform: uppercase;
    font-size: 16px;
    padding: 15px;
    font-family: Qualy;
    letter-spacing: 2px;
    border: 2px #E6E6E6 solid;
    font-weight: 500;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    margin-top: 50px;
    background-color: #E6E6E6;
    transition: background-color 0.5s ease-in;
}

#savoir-faire button:hover{
    background-color: #1e1e1e;
    color: #E6E6E6;
    transition: background-color 0.5s ease-out;
}

#savoir-faire .sectionlimit{
    min-height: 700px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.relative-logo{
    position:relative;
}

.absolutelogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.flexswipe h3{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    -webkit-text-stroke: 1px #1e1e1e;
    text-align: center;
    font-family: Qualy;
    font-size: 1.8vw;
}


#clients h2{
    display: none;
}

.flexclient{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.flexclient{
    overflow: hidden;
}

.flexclient img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

#contact{
    background-image: url("../img/grille.png");
    background-size: 108%;
    background-position: 20% 30%;
    height: 100vh;
    min-height: 750px;
    background-attachment: fixed;
}


#contact h2{
    top: 80px;
}

.formulaire form{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.formulaire{
    padding-top: 100px;
    padding-bottom: 80px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}

.firstflexform{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 30px;
}

.secondflexform{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: flex-start;
    align-items: flex-start;
}

.flexline{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.formulaire textarea{
    display: block;
    width: 100%;
    padding: 10px;
    font-family: Roboto;
    height: 200.5px;
    border: none;
    box-sizing: border-box;
    position: absolute;
    top: -1px;
    left: 0;
    z-index: 1000;
    background-color: #1e1e1e;
    color: #E6E6E6;
    border: #E6E6E6 solid 2px;
}

.formulaire textarea::placeholder{
    color: #E6E6E6;
}

.formulaire input{
    width: 320px;
    padding: 10px;
    font-family: Roboto;
    border: none;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    border: #E6E6E6 solid 2px;
    box-sizing: border-box;
    background-color: #1e1e1e;
    color: #E6E6E6;
}

.formulaire input:focus{
    border: #FFD433 2px solid !important;
    outline: none !important;
}

.formulaire input::placeholder{
    color: #E6E6E6;
}

.firstflexform .geometrieconteneur, .secondflexform .geometrieconteneur{
    width: 320px;
    height: 36px;
}


.geometrieconteneur{
    position: relative;
}

.geometrieconteneurobjet{
    width: 100%;
    height: 36px;
}

.geometrieconteneurobjet input{
    width: 100%;
    box-sizing: border-box;
}

.geometrieconteneurobjet .backgroundform{
    height: 54px;
    width: 102%;
}

.btn-right .geometrieconteneur{
    width: 320px;
    height: 36px;
}

.btn-right input{
    width: auto;
    position: initial;
    color: #1e1e1e;
    text-transform: uppercase;
    font-size: 16px;
    padding: 15px;
    font-family: Qualy;
    letter-spacing: 2px;
    border: 2px #E6E6E6 solid;
    font-weight: 500;
    cursor: pointer;
    background-color: #E6E6E6;
    transition: background-color 0.5s ease-in;
}

.btn-right input:hover{
    background-color: #1e1e1e;
    color: #E6E6E6;
    transition: background-color 0.5s ease-out;
}

.btn-right .backgroundform{
    width: 340px;
}

.backgroundform{
    width: 340px;
    height: 55px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.backgroundform2{
    position: absolute;
    bottom: -1px;
    left: 0;
    z-index: 0;
    width: 102%;
    height:219px ;
}

.geometrieconteneurarea{
    width: 100%;
    height: 200px;
}

.btn-right{
    display: flex;
    justify-content: center;
}

/* FOOTER */

footer{
    width: 100%;
    background-color: #1e1e1e;
}

#footer{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: #E6E6E6;
    font-family: Roboto;
}


.mail , .tel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.mail img ,.tel img{
    height: 20px;
}

.reseaux-sociaux{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.reseaux-sociaux a{
    display: block;
    width: 25px;
    height: 25px;
}

.reseaux-sociaux img{
    width: 25px;
    height: 25px;
}

#footer a{
    text-decoration: none;
    color: #E6E6E6;
}

.mentions-legales, .copyright{
    text-align: center;
}

.mail, .tel , .mentions-legales, .copyright{
    width: 21.2%;
}

.reseaux-sociaux{
    width: 15%;
}

@media screen and (max-width: 1480px) {
    .cardsol div{
        font-size: 15px;
        line-height: 26px;
    }
}

@media screen and (max-width: 1200px) {
    .cardsol div{
        font-size: 16px;
        line-height: 26px;
    }

    #footer{
        font-size: 12px !important;
    }

}

@media screen and (max-width: 1080px){
    .firstflexform{
        margin-bottom: 50px;
        margin-right: 0;
        width: 100%;
    }

    .formulaire input{
        width: 100%;
    }

    #contact{
        height: 920px;
        min-height: initial;
    }

    footer{
        height: initial;
    }

    #footer{
        flex-wrap: wrap;
        height: initial;
        gap: 0;
        font-size: 20px !important;
    }

    .mail, .tel, .mentions-legales, .copyright {
        width: 49.5%;
    }

    .mail, .copyright{
        text-align: right;
    }

    .tel, .mentions-legales{
        text-align: left;
    }

    .copyright, .mentions-legales{
        padding-bottom: 20px;
        padding-top: 5px;
    }

    .tel{
        justify-content: left;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .mail{
        justify-content: flex-end;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .reseaux-sociaux{
        width: 100%;
    }

    .reseaux-sociaux img{
        width: 50px;
        height: 50px;
    }

    .reseaux-sociaux a{
        width: 50px;
        height: 50px;
    }

    .flexline{
        flex-direction: column;
    }

    .geometrieconteneur{
        width: 100% !important;
    }
}

@media screen and (max-width: 960px){

    iframe{
        width: 680px;
        height: 380px;
    }

    .flexswipe h3{
        font-size: 20px;
    }


    .swiper-button-next{
        --swiper-navigation-size: 60px !important;
    }
    .swiper-button-prev{
        --swiper-navigation-size: 60px !important;
    }



    .sliderdiv h2{
        font-size: 80px;
        text-shadow: 3px -3px 0 #94C8EE;
    }

    .sliderundertitle div{
        font-size: 24px;
        width: 100%;
    }

    .flex-solution{
        flex-direction: column;
    }

    .flexcolumncat{
        width: 100%;
        flex-direction: row;
        height: 80px;
        gap: 0;
    }

    .flexcolumncat div{
        height: 80px;
        width: 20%;
    }

    .flexcolumncat{
        height: 80px;
    }

    .cardsol h3{
        font-size: 30px;
        margin-top: 10px;
    }

    .cardsol article{
        height: 90%;
    }

    #solutions{
        min-height: 800px;
    }

    .flexcolumncat div{
        font-size: 1.5vw;
    }

}

@media screen and (max-width: 780px){

    .logo-nav-mob{
        height: 50px;
        display: block;
    }

    header{
        display: none;
    }

    nav{
        display: none;
    }

    .flexswipe h3{
        font-size: 18px;
    }

    #preloader h1{
        font-size: 100px !important;
        letter-spacing: 8px !important;
    }

    .menumobile{
        position: sticky;
        top: 0;
        left: 0;
        z-index: 1800;
        width: 100%;
        background-color: #1e1e1e;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .flexmobile{
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        z-index: 1800;
        align-items: center;
    }

    .mobilenav{
        position:fixed;
        top: 100px;
        z-index: 1000;
        right: -100vw;
        background-color: #1e1e1e;
        width: 100%;
        height: calc(100vh - 100px) ;
        margin-left: 100vw;
        transition: margin-left 0.8s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0;
        box-sizing: border-box;
    }

    .mobilenav ul{
        flex-direction: column;
        gap: 60px;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-transform: uppercase;
        list-style: none;
        z-index: 1500;
        box-sizing: border-box;
    }



    .mobilenav ul a{
        font-size: 24px !important;
        text-decoration: none;
        color: #E6E6E6;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        font-family: Roboto;
        box-sizing: border-box;
    }

    nav{
        display: none;
    }


    .swiper-pagination-bullet{
        width: 8px !important;
        height: 8px !important;
        background: white !important;
        opacity: 0.8 !important;
    }

    .doubleflex{
        flex-direction: column;
        gap: 60px;
        background-color: #1e1e1e;
        border: 2px #E6E6E6 solid;
        padding: 20px;
        box-sizing: border-box;
    }

    .textpresentation{
        width: 100%;
    }

    #imgtourne{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    #canvas{
        width: 300px;
        height: 300px;
        margin-left: -18%;
    }

    iframe{
        width: 480px;
        height: 269px;
    }


    #headerbg{
        height: 700px;
    }

    .swiper-button-next{
        --swiper-navigation-size: 40px !important;
    }
    .swiper-button-prev{
        --swiper-navigation-size: 40px !important;
    }

    .sliderdiv h2{
        font-size: 60px;
    }

    .sliderundertitle div{
        font-size: 18px;
        width: 100%;
    }

    .bgcitation{
        height: 300px;
    }

    .presentation-video{
        height: 500px;
        min-height: initial;
        max-height: initial;
    }

    .flexcolumncat{
        flex-wrap: wrap;
        height: initial;
    }

    .flexcolumncat div{
        height: 50px;
        margin-bottom: 5px;
        width: 48%;
        font-size: 18px !important;
    }

    .cardsol h3{
        font-size: 30px;
        margin-top: 10px;
    }

    .cardsol h5{
        font-size: 18px;
    }


    .cardsol h6 {
        font-size: 16px;
    }

    .cardsol article{
        height: 95%;
    }


    .flex-solution{
        gap: 20px;
    }

    .flexcolumncat{
        height:initial;
    }

    .cardsol h3{
        font-size: 30px;
        margin-top: 10px;
    }

    .cardsol article{
        height: 90%;
    }

    .cardsol ul{
        flex-wrap: wrap;
    }

    .cardsol ul>li{
        width: 50%;
        margin-bottom: 10px;
    }

    #solutions{
        min-height: 1000px;
    }

    .flexcolumncat div{
        font-size: 1.5vw;
    }

    .cardsol div{
        font-size: 14px;
    }
}

@media screen and (max-width: 520px){

    .mail, .tel, .mentions-legales, .copyright{
        width: 100%;
        justify-content: center;
        text-align: center;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .absolutelogo{
        width: 70%;
    }

    .flexswipe h3{
        font-size: 16px;
    }

    .cardsol div{
        font-size: 14px;
        line-height: 22px;
    }

    #preloader h1{
        font-size: 52px !important;
        letter-spacing: 6px !important;
    }

    .reseaux-sociaux {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    iframe{
        width: 280px;
        height: 157px;
    }

    .presentation-video{
        height: 300px;
    }



    #headerbg{
        height: 90vh;
        margin-top: -100px;
    }

    .sliderdiv h2{
        font-size: 32px;
        text-shadow: 1px -1px 0 #94C8EE;
        letter-spacing: 6px;
    }

    .sliderundertitle div{
        font-size: 14px;
        width: 100%;
        line-height: 22px;
    }

    .cardsol ul{
        flex-wrap: wrap;
    }

    .cardsol ul>li{
        width: 50%;
        margin-bottom: 10px;
    }

    .bgcitation{
        height: 200px;
        font-size: 18px;
    }

    #nommage{
        font-size: 16px;
    }

    .bgcitation p{
        width: 90%;
    }

    .flex-solution{
        gap: 20px;
    }

    .flexcolumncat{
        flex-wrap: wrap;
        height: initial;
    }

    .flexcolumncat div{
        height: 50px;
        margin-bottom: 5px;
        width: 48%;
        font-size: 18px !important;
    }

    .cardsol h3{
        font-size: 30px;
        margin-top: 10px;
    }

    .cardsol h5{
        font-size: 18px;
    }


    .cardsol h6 {
        font-size: 16px;
    }

    .cardsol article{
        height: 95%;
    }

    #solutions{
        min-height: 1100px;
    }

    #canvas{
        width: 300px;
        height: 300px;
        margin-left: -35%;
    }

    .ban-etoile div{
        margin-right: 5%;
    }

    .flexclient img{
        width: 100px;
    }

    .titreinteraxys{
        font-size: 44px !important;
    }

    .ban-etoile strong{
        font-size: 22px;
    }

    .flexcolumncat div{
        font-size: 1.5vw;
    }

    #savoir-faire{
        height: 1000px;
        min-height: initial;
    }

    #savoir-faire .sectionlimit {
        min-height: 900px;
    }

}

@media screen and (max-width: 420px){

    #canvas{
        width: 300px;
        height: 300px;
        margin-left: -55%;
    }

    #headerbg{
        height: 100vh;
        margin-top: -100px;
    }

    .titreinteraxys{
        font-size: 38px !important;
    }

    .ban-etoile strong{
        font-size: 20px;
    }


    .sliderdiv h2{
        font-size: 30px;
        text-shadow: 1px -1px 0 #94C8EE;
        letter-spacing: 5px;
    }

    .sliderundertitle div{
        font-size: 12px;
        width: 100%;
        line-height: 22px;
    }

    #savoir-faire{
        height: 1200px;
        min-height: initial;
    }

    #savoir-faire .sectionlimit {
        min-height: 1100px;
    }
}

@media screen and (max-width: 360px){
    .cardsol div{
        font-size: 12px;
        line-height: 20px;
    }
}

#savoir-faire .logoslide{
    width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    transition: margin ease-in 0.4s;
}

.flexswipe > div{
    padding: 30px;
    min-height: 400px;
    background-color: #1e1e1e ;
    border:#E6E6E6 2px solid ;
    color: #E6E6E6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-wrapper{
    align-items: center !important;
}

.flexswipe{
    background-color: #E6E6E6;
}


.invisible-text{
    display: none;
    margin-top: 140px;
}

.swiper-container{
    width: 100%;
    height: 100%;
}

.swiper-container2 {
    width: 100%;
    overflow: hidden;
    height: 100%;
}

.alignswipecenter{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 540px;
}

.swiper-container2 .swiper-slide {
    background-position: center;
    background-size: cover;
    height: auto !important;
}

.swiper-container2 .swiper-slide{
    transition: opacity 0.6s ease-out;
}

.swiper-container2 .swiper-button-next,.swiper-container2 .swiper-button-prev {
    --swiper-theme-color: #E6E6E6;
}

.swiper-button-next{
    --swiper-theme-color: #FFD433;
    --swiper-navigation-size: 80px;
}
.swiper-button-prev{
    --swiper-theme-color: #FFD433;
    --swiper-navigation-size: 80px;
}

.swiper-pagination{
    --swiper-theme-color: #FFD433;
    --swiper-navigation-size: 100px;
}

.swiper-container .swiper-button-next, .swiper-button-prev {
    top: 55% !important;
}

.swiper-pagination-bullet{
    width: 12px !important;
    height: 12px !important;
    background: white !important;
    opacity: 0.8 !important;
}

.swiper-pagination-bullet-active{
    background: #FFD433 !important;
    opacity: 1 !important;
}

/* Mentions légales */


.mention-container{
    width: 80%;
    background-color: #1e1e1e;
    border: solid 2px #E6E6E6;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    color: #E6E6E6;
    font-family: Roboto;
    line-height: 36px;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 40px;
}
.mention-container a{
    color: #94C8EE;
}
/* CSS ANIMATIONS */

#preloader {
    background-color: #1e1e1e;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
}

#preloader h1{
    font-family: Qualy;
    color: #E6E6E6;
    position: absolute;
    font-size: 124px;
    letter-spacing: 10px;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FFD433;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #94C8EE;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #E6E6E6;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

.menu-btn {
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /* border: 3px solid #fff; */
}
.menu-btn__burger {
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
    transform: translateY(-16px);
}
.menu-btn__burger::after {
    transform: translateY(16px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}



@keyframes animatedscroll {
    0% {
        bottom: 30%;
    }
    30% {
        bottom: 25%;
    }
    50%{
        bottom: 27%;
    }
    60%{
        bottom: 25%;
    }
    100% {
        bottom: 30%;
    }
}

@keyframes rotation {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
