<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Interaxys - Cabinet de consulting</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <meta name="description" content="Bienvenue sur le site web d'interaxys">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="#"><p>Qui sommes-nous ?</p></a></li>
            <li><a href="#"><p>Nos solutions</p></a></li>
            <li><a href="#"><img src="" alt="Logo d'interaxys"></a></li>
            <li><a href="#"><p>Nos savoir-faire</p></a></li>
            <li><a href="#"><p>Nous contacter</p></a></li>
        </ul>
    </nav>

    <div id="sliderdiv">
        <div id="synergieslide" class="sliderslide">
            <h1 class="slidertitre">SYNERGIE</h1>
            <p class="sliderundertitle">« Un système d'information interactionnel pour piloter l'activité et synchroniser les décisions » </p>
        </div>
    </div>

    <div class="scrollicon">
        <img src="" alt="scroll_blanc">
        <img src="" alt="scroll_jaune">
    </div>
</header>

<section id="presentation">
    <article>
        <div class="premierepresentation">
                <h2>QUI SOMMES-NOUS ?</h2>
                <div class="doubleflex">
                    <div class="textpresentation">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus feugiat tortor id augue
                            accumsan, at laoreet justo sodales. Etiam tortor augue, gravida egestas accumsan at, egestas
                            vel nibh. Integer odio purus, sollicitudin ac convallis scelerisque, pulvinar ut libero. Vivamus sapien elit,
                            maximus aliquam sapien ut, viverra finibus lacus. Ut rutrum nisi tortor, non varius quam sodales ac.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus feugiat tortor id augue accumsan,
                            at laoreet justo sodales. Etiam tortor augue, gravida egestas accumsan at, egestas vel nibh. Integer odio purus,
                            sollicitudin ac convallis scelerisque, pulvinar ut libero. Vivamus sapien elit, maximus aliquam sapien ut,
                            viverra finibus lacus. Ut rutrum nisi tortor, non varius quam sodales ac.Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Phasellus feugiat tortor id augue accumsan, at laoreet justo sodales. Etiam tortor augue, gravida
                            egestas accumsan at, egestas vel nibh. Integer odio purus, sollicitudin ac convallis scelerisque, pulvinar ut
                            libero. Vivamus sapien elit, maximus aliquam sapien ut, viverra finibus lacus. Ut rutrum nisi tortor, non varius
                            quam sodales ac.
                        </p>
                    </div>
                    <img src="" alt="forme geométrique 1">
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus feugiat tortor id augue
                    accumsan, at laoreet justo sodales. Etiam tortor augue, gravida egestas accumsan at, egestas
                    vel nibh. Integer odio purus, sollicitudin ac convallis scelerisque, pulvinar ut libero. Vivamus sapien elit,
                    maximus aliquam sapien ut, viverra finibus lacus. Ut rutrum nisi tortor, non varius quam sodales ac.
                </p>
        </div>

        <div class="bgcitation">
            <strong>" Le modèle de la réduction des coûts</strong>
            <strong> nous envoie droit dans le mur !"</strong>
        </div>

        <div class="deuxiemepresentation">
            <div class="doubleflex">
                <img src="" alt="forme geométrique 2">
                <div class="text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus feugiat tortor id augue accumsan,
                        at laoreet justo sodales. Etiam tortor augue, gravida egestas accumsan at, egestas vel nibh. Integer
                        odio purus, sollicitudin ac convallis scelerisque, pulvinar ut libero. Vivamus sapien elit, maximus
                        aliquam sapien ut, viverra finibus lacus. Ut rutrum nisi tortor, non varius quam sodales ac.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus feugiat tortor id augue accumsan,
                        at laoreet justo sodales. Etiam tortor augue, gravida egestas accumsan at, egestas vel nibh. Integer
                        odio purus, sollicitudin ac convallis scelerisque, pulvinar ut libero. Vivamus sapien elit, maximus
                        aliquam sapien ut, viverra finibus lacus.
                    </p>
                </div>
            </div>
        </div>

        <div class="presentation-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/rZQ8aMvsikc"
                    title="YouTube video player" frameborder="0" allow="accelerometer;
                     autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>
    </article>
</section>
<section id="solutions">
    <h2>NOS SOLUTIONS</h2>
    <div class="flex-solution">
        <div class="flexcolumncat">
            <div id="philo"><p>Philosophique</p></div>
            <div id="strat"><p>Stratégique</p></div>
            <div id="tact"><p>Tactique</p></div>
            <div id="ope"><p>Opérationnel</p></div>
        </div>
        <div id="cardphilo">
            <!-- FORME RECTANGULAIRE A INTEGRER -->
            <article>
                <h3>Philosophique</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus feugiat tortor id augue
                    accumsan, at laoreet justo sodales. Etiam tortor augue, gravida egestas accumsan at, egestas
                    vel nibh. Integer odio purus, sollicitudin ac convallis scelerisque, pulvinar ut libero. Vivamus sapien elit,
                    maximus aliquam sapien ut, viverra finibus lacus.</p>
                <ul>
                    <li><strong>HORIZON :</strong><p>Éternité</p></li>
                    <li><strong>DOMAINE :</strong><p>Vision</p></li>
                    <li><strong>ESPRIT :</strong><p>Engagement</p></li>
                    <li><strong>FINALITÉ :</strong><p>Sens</p></li>
                    <li><strong>OBJET :</strong><p>Environement</p></li>
                </ul>
                <div><p>RESPONSABILITÉ</p></div>
            </article>
        </div>

        <div id="cardphilo">
            <!-- FORME RECTANGULAIRE A INTEGRER -->
            <article>
                <h3>Stratégique</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus feugiat tortor id augue
                    accumsan, at laoreet justo sodales. Etiam tortor augue, gravida egestas accumsan at, egestas
                    vel nibh. Integer odio purus, sollicitudin ac convallis scelerisque, pulvinar ut libero. Vivamus sapien elit,
                    maximus aliquam sapien ut, viverra finibus lacus.</p>
                <ul>
                    <li><strong>HORIZON :</strong><p>Année</p></li>
                    <li><strong>DOMAINE :</strong><p>Objectifs</p></li>
                    <li><strong>ESPRIT :</strong><p>Alignement</p></li>
                    <li><strong>FINALITÉ :</strong><p>Pérennité</p></li>
                    <li><strong>OBJET :</strong><p>Marché</p></li>
                </ul>
                <div><p>QUALITÉ</p></div>
            </article>
        </div>

        <div id="cardphilo">
            <!-- FORME RECTANGULAIRE A INTEGRER -->
            <article>
                <h3>Tactique</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus feugiat tortor id augue
                    accumsan, at laoreet justo sodales. Etiam tortor augue, gravida egestas accumsan at, egestas
                    vel nibh. Integer odio purus, sollicitudin ac convallis scelerisque, pulvinar ut libero. Vivamus sapien elit,
                    maximus aliquam sapien ut, viverra finibus lacus.</p>
                <ul>
                    <li><strong>HORIZON :</strong><p>Mois</p></li>
                    <li><strong>DOMAINE :</strong><p>Moyens</p></li>
                    <li><strong>ESPRIT :</strong><p>Coordination</p></li>
                    <li><strong>FINALITÉ :</strong><p>Santé</p></li>
                    <li><strong>OBJET :</strong><p>Organisation</p></li>
                </ul>
                <div><p>Vitesse</p></div>
            </article>
        </div>

        <div id="cardphilo">
            <!-- FORME RECTANGULAIRE A INTEGRER -->
            <article>
                <h3>Opérationnel</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus feugiat tortor id augue
                    accumsan, at laoreet justo sodales. Etiam tortor augue, gravida egestas accumsan at, egestas
                    vel nibh. Integer odio purus, sollicitudin ac convallis scelerisque, pulvinar ut libero. Vivamus sapien elit,
                    maximus aliquam sapien ut, viverra finibus lacus.</p>
                <ul>
                    <li><strong>HORIZON :</strong><p>Semaine</p></li>
                    <li><strong>DOMAINE :</strong><p>Activités</p></li>
                    <li><strong>ESPRIT :</strong><p>Synchronisation</p></li>
                    <li><strong>FINALITÉ :</strong><p>Survie</p></li>
                    <li><strong>OBJET :</strong><p>Produit</p></li>
                </ul>
                <div><p>EFFICIENCE</p></div>
            </article>
        </div>
    </div>
</section>

<div class="ban-etoile">
    <div>
        <strong>Améliorer vos perspectives d'entreprise avec</strong>
        <strong>INTERAXYS</strong>
    </div>
</div>

</body>
</html>