{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}
    <h1>Bonjour Administrateur,</h1>
    <h4>Commencez dès maintenant à modifier votre site en appuyant sur les liens à gauche de la page !</h4>
{% endblock %}