{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}
    <h1>Bonjour José,</h1>
    <h5>Commencez dès maintenant à modifier votre site en appuyant sur les liens à gauche de la page !</h5>
{% endblock %}